@model IEnumerable<kuafor.Models.Calisan>

<h2>Çalışan Listesi</h2>
<table class="table">
    <thead>
        <tr>
         
            <th>Ad</th>
            <th>Soyad</th>
            <th>Uzmanlık Alanı</th>
            <th>Verilen Hizmetler</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var calisan in Model)
        {
            <tr>
                <td>@calisan.Ad</td>
                <td>@calisan.Soyad</td>
                <td>@calisan.UzmanlikHizmet?.HizmetAdi</td>
                <td>
                    @foreach (var hizmet in calisan.CalisanHizmetler.Select(ch => ch.Hizmet))
                    {
                        <span>@hizmet.HizmetAdi</span>

                        <br />
                    }
                </td>
                <td>
                    <a href="@Url.Action("CalisanGuncelle", new { id = calisan.CalisanId })" class="btn btn-warning">Güncelle</a>
                    <form action="@Url.Action("CalisanSil")" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@calisan.CalisanId" />
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("CalisanEkle")" class="btn btn-primary">Yeni Çalışan Ekle</a>
